<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-medal icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>
                    Classement des hackeurs
                    <div class="page-title-subheading">Decouvrez les meilleurs hackeurs de Starter Hack.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Utilisateurs</h5>
                    <table class="mb-0 table table-borderless">
                        <thead>
                            <tr>
                                <th>Rang</th>
                                <th>Pseudo</th>
                                <th>Points</th>
                                <th>École</th>
                                <th>Entreprise</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{ users.indexOf(user) + 1 }}</td>
                                <td>
                                    <a routerLink="/user/{{ user.id }}">
                                        {{ user.username }}
                                    </a>
                                </td>
                                <td>{{ user.points }}</td>
                                <td>{{ user.school }}</td>
                                <td>{{ user.company }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>