<div class="app-main__inner" *ngIf="!isEditing || user">
  <div class="app-page-title">
    <div class="page-title-wrapper d-flex justify-content-between">
      <div class="page-title-heading d-flex">
        <div class="d-flex">
          <span class="page-title-icon">
            <i class="pe-7s-user icon-gradient bg-happy-itmeo">
            </i>
          </span>
          <span *ngIf="isEditing && user">
            Modifier un utilisateur
            <div class="page-title-subheading">
              {{ user.username }}
            </div>
          </span>
          <span *ngIf="!isEditing">
            Ajouter un administrateur
          </span>
        </div>
      </div>


    </div>
  </div>
  <div class="row justify-content-md-center mt-4 mb-4">
    <div class="col-lg-11">
      <div class="form-row" *ngIf="isCurrentUser">
        <div class="col-md-4">
          <label for="photo">Photo de profil</label>
          <div class="form-group">
            <img (click)="fileInput.click()" width="62" height="62" class="rounded-circle mr-4" src="{{ user.photo}}"
              alt="">
            <input id="photo" #fileInput type="file" (change)="handleFileInput($event.target.files)" class="d-none">
          </div>
        </div>
      </div>
      <form [formGroup]="userForm" *ngIf="userForm">
        <div class="form-row">
          <div class="col-md-6">
            <label for="username">Pseudo</label>
            <div class="position-relative form-group">
              <input id="username" placeholder="Pseudo" class="form-control" formControlName="username" />
            </div>
          </div>
          <div class="col-md-6">
            <label for="email">Email</label>
            <div class="position-relative form-group">
              <input id="email" name="email" placeholder="Email" type="text" class="form-control"
                formControlName="email" />
            </div>
          </div>
          <div class="col-md-6">
            <label for="password">Mot de passe</label>
            <div class="position-relative form-group">
              <input id="password" name="password" placeholder="Mot de passe" type="password" class="form-control"
                formControlName="password"
                [ngClass]="{'is-invalid': !isPasswordConfirmValid}"/>
              </div>
            </div>
            <div class="col-md-6">
              <label for="password-confirm">Confirmation de mot de passe</label>
              <div class="position-relative form-group">
                <input id="password-confirm" name="password-confirm" placeholder="Confirmation de mot de passe" type="password" class="form-control"
                formControlName="passwordConfirm" 
                [ngClass]="{'is-invalid': !isPasswordConfirmValid}"/>
                <span class="text-danger" *ngIf="!isPasswordConfirmValid">La confirmation ne correspond pas au mot de passe</span>
            </div>
          </div>
          <div class="col-md-4">
            <label for="company">Entreprise</label>
            <div class="position-relative form-group">
              <input id="company" name="company" placeholder="Entreprise" type="text" class="form-control"
                formControlName="company" />
            </div>
          </div>
          <div class="col-md-4">
            <label for="school">École</label>
            <div class="position-relative form-group">
              <input placeholder="École" name="school" type="text" class="form-control" formControlName="school" />
            </div>
          </div>
          <div class="col-md-4">
            <label for="points">Points</label>
            <div class="position-relative form-group">
              <input id="points" name="points" placeholder="Points" type="number" class="form-control"
                formControlName="points" />
            </div>
          </div>
          <div class="col-md-12">
            <label for="description">Description</label>
            <div class="position-relative form-group">
              <textarea id="description" name="description" placeholder="Description" type="text" class="form-control"
                formControlName="description"></textarea>
            </div>
          </div>
        </div>
      </form>
      <div class=" d-block text-center">
        <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-danger btn-lg mr-2" routerLink="/user-list">
          Annuler
        </button>
        <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg" (click)="onSubmit()">
          Valider
        </button>
      </div>
    </div>
  </div>
</div>