<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-speaker icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>
                    Liste des propositions 
                    <div class="page-title-subheading">Les challenges proposés par les utilisateurs.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-header card-header-tab-animation">
                    <ul class="nav nav-justified">
                        <li class="nav-item">
                            <a data-toggle="tab" href="#tab-new-proposals" class="nav-link active">Reçues <i class="fa fa-envelope"></i></a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#tab-accepted-proposals" class="nav-link">En attente <i class="fa fa-question-circle"></i></a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#tab-processed-proposals" class="nav-link">Traitées <i class="fa fa-check-circle"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-new-proposals" role="tabpanel">
                            <table class="mb-0 table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Catégorie</th>
                                        <th>Niveau</th>
                                        <th>Contributeur</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let proposal of proposals | proposals:'NEW'">
                                        <tr>
                                            <td>{{ proposal.title }}</td>
                                            <td>{{ proposal.category }}</td>
                                            <td>{{ proposal.level }}</td>
                                            <td>{{ proposal.user.username }}</td>
                                            <td>
                                                <a routerLink="/proposals/{{ proposal.id }}"
                                                    class="mb-2 mr-2 btn-transition btn btn-outline-primary">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-accepted-proposals" role="tabpanel">
                            <table class="mb-0 table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Catégorie</th>
                                        <th>Niveau</th>
                                        <th>Contributeur</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let proposal of proposals | proposals:'ACCEPTED'">
                                        <tr>
                                            <td>{{ proposal.title }}</td>
                                            <td>{{ proposal.category }}</td>
                                            <td>{{ proposal.level }}</td>
                                            <td>{{ proposal.user.username }}</td>
                                            <td>
                                                <a routerLink="/proposals/{{ proposal.id }}"
                                                    class="mb-2 mr-2 btn-transition btn btn-outline-primary">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-processed-proposals" role="tabpanel">
                            <table class="mb-0 table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Catégorie</th>
                                        <th>Niveau</th>
                                        <th>Contributeur</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let proposal of proposals | proposals:'PROCESSED'">
                                        <tr>
                                            <td>{{ proposal.title }}</td>
                                            <td>{{ proposal.category }}</td>
                                            <td>{{ proposal.level }}</td>
                                            <td>{{ proposal.user.username }}</td>
                                            <td>
                                                <a routerLink="/proposals/{{ proposal.id }}"
                                                    class="mb-2 mr-2 btn-transition btn btn-outline-primary">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>