<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-home icon-gradient bg-deep-blue"></i>
                </div>
                <div>Accueil
                    <div class="page-title-subheading">Bienvenue sur la plateforme de CTF et de partage de ressources autour de la sécurité informatique !</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="card mb-3 widget-content bg-night-fade">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Challenges</div>
                        <div class="widget-subheading">Nombre de challenges</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{ challengesCount }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card mb-3 widget-content bg-arielle-smile">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Utilisateurs</div>
                        <div class="widget-subheading">Nombre d'utilisateurs</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{ usersCount }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card mb-3 widget-content bg-happy-green">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Documentations</div>
                        <div class="widget-subheading">Nombre de documents</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{ docsCount }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card mb-3 widget-content bg-premium-dark">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Propositions</div>
                        <div class="widget-subheading">Nombre de propositions</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-warning"><span>{{ proposalsCount }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header"><i class="fa fa-tasks mr-2"></i> Challenges non résolus</div>
                <div class="scroll-area-sm">
                    <div class="scrollbar-container ps ps--active-y">
                        <div class="p-2">
                            <ul class="todo-list-wrapper list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let challenge of challenges">
                                    <div class="todo-indicator bg-warning"></div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ challenge.name }}</div>
                                                <div class="widget-subheading" *ngIf="challenge.contributor == null; else contributorWidget"><i>L'équipe StarterHack</i></div>
                                                <ng-template #contributorWidget>
                                                    <div class="widget-subheading">{{ challenge.contributor.username }}</div>
                                                </ng-template>
                                            </div>
                                            <div class="widget-content-right widget-content-actions">
                                                <a routerLink="challenge/{{ challenge.id }}" class="border-0 btn-transition btn btn-outline-primary">
                                                    <i class="fa fa-flag"></i>
                                                </a>
                                            </div>
                                            <div class="widget-content-right ml-3">
                                                <div class="badge badge-pill badge-dark">{{ challenge.category.name }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 58px;"></div></div></div>
                </div>
            </div>

            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header"><i class="fa fa-book mr-2"></i> Documentations</div>
                <div class="scroll-area-sm">
                    <div class="scrollbar-container ps ps--active-y">
                        <div class="p-2">
                            <ul class="todo-list-wrapper list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let documentation of documentations">
                                    <div class="todo-indicator bg-warning"></div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ documentation.name }}</div>
                                            </div>
                                            <div class="widget-content-right widget-content-actions">
                                                <a [href]="documentation.url" target="_blank" class="border-0 btn-transition btn btn-outline-primary">
                                                    <i class="fas fa-external-link-square-alt"></i>
                                                </a>
                                            </div>
                                            <div class="widget-content-right ml-3">
                                                <div class="badge badge-pill badge-info">{{ getDocType(documentation) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 58px;"></div></div></div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6">
            <div *ngIf="!news" class="spinner-grow text-primary" role="status"></div>
            <div class="card mb-4" *ngFor="let newsItem of news?.items">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img style="width: 40px; height: auto;" src="{{ newsItem.thumbnail }}" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a href="{{ newsItem.link }}" target="_blank" [innerHTML]="newsItem.title"></a>
                            <div class="text-muted small">{{ newsItem.pubDate }} - {{ newsItem.author }}</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p [innerHTML]="newsItem.safeContent"></p>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"></div>
                    <div class="px-4 pt-3">
                        <a href="{{ newsItem.link }}" target="_blank" class="btn btn-primary">
                            <i class="fas fa-external-link-square-alt"></i>&nbsp; Voir l'article
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>