<div class="app-main__inner" *ngIf="challenge">
    <div class="app-page-title">
        <div class="page-title-wrapper d-flex justify-content-between">
            <div class="page-title-heading d-flex">
                <div class="d-flex">
                    <span class="page-title-icon">
                        <i class="pe-7s-flag icon-gradient bg-happy-itmeo">
                        </i>
                    </span>
                    <span>
                        {{ challenge?.name }}
                        <div class="page-title-subheading" *ngIf="challenge?.contributor">
                            Merci à {{ challenge?.contributor?.username }} pour la proposition de ce challenge !
                        </div>
                    </span>
                </div>
            </div>

            <div id="timer" *ngIf="isStarted">
                <h1>
                    {{ displayTime }}
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xl-4">
            <div class="card mb-3 widget-content">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Difficulté</div>
                        <div class="widget-subheading">Difficulté du challenge</div>
                    </div>
                    <div class="widget-content-right">
                        <div [ngClass]="{'text-success': challenge.level <= 2, 
                                         'text-warning': challenge.level == 3,
                                         'text-danger': challenge.level == 4,
                                         'text-dark': challenge.level == 5,
                                         'widget-numbers': true}">
                            <span>{{ challenge?.level }}/5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="card mb-3 widget-content">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Points</div>
                        <div class="widget-subheading">Points gagnés</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-primary"><span>{{ challenge?.points }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="card mb-3 widget-content">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Validations</div>
                        <div class="widget-subheading">Nombre de validations</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-warning"><span>{{ challenge.validationsCount }}</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" *ngIf="hasResolved">
            <div class="main-card mb-3 card">
                <div class="card-header">{{editComment ? 'Laissez votre avis' : 'Votre avis'}}</div>
                <div class="card-body" id="rate-card">
                    <div *ngIf="editComment; else elseBlock">
                        <div class="form-group">
                            <label id="rate-label" for="comment">
                                <h4>Note</h4>
                            </label>
                            <bar-rating name="rating" [(ngModel)]="formRating" [max]="5" required></bar-rating>
                        </div>
                        <div class="form-group" id="comment-group">

                            <label for="comment">
                                <h4>Commentaire</h4>
                            </label>
                            <textarea rows="1" id="" class="form-control autosize-input" id="comment"
                            style="max-height: 200px; height: 143px; margin-top: 0px; margin-bottom: 0px;" 
                            placeholder="Laissez un commentaire sur ce challenge"
                            #commentaire>{{comment ? comment.comment : ''}}</textarea>
                        </div>
                        <div class="d-block text-center card-footer">
                            <button class="btn btn-success btn-lg" (click)="rating(commentaire.value)">Valider</button>
                            <button *ngIf="editComment != null" class="mr-2 btn btn-link btn-sm"
                                (click)="editComment = false">Annuler</button>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <bar-rating name="rating" [(rate)]="comment.rating" [max]="5" [readOnly]="true"></bar-rating>
                        {{comment.comment}} <br>
                        <button class="btn btn-success btn-lg" (click)="editComment = true">Modifier</button>
                        <button class="btn btn-danger btn-lg" (click)="deleteComment()">Supprimer</button>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="challenge.docs.length > 0">
            <div  class="card mb-6">
                <div class="card-header">
                    Documentation liée au défi
                </div>
                <div class="card-body">
                    <div *ngFor="let doc of challenge.docs">
                       <a target="_blank" [href]="doc.url">{{ doc.name }}</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-header">Description</div>
                <div class="card-body">
                    <div [innerHTML]="challenge?.description"></div>
                </div>
                <div class="d-block text-center card-footer" *ngIf="!isStarted">
                    <button *ngIf="!isStarting==true" class="btn btn-success btn-lg"
                        (click)="onStart()">Démarrer</button>
                    <div *ngIf="isStarting" class="spinner-border" role="status"></div>
                </div>
            </div>

            <div class="main-card mb-3 card" *ngIf="isStarted">
                <div class="card-header">Challenge</div>
                <div class="card-body">
                    <div>
                        <p *ngIf="challengeState.host">
                            <strong>URL : </strong>
                            <a target="_blank" [href]="challengeState.host">{{ challengeState.host }}</a>
                        </p>
                        <p *ngIf="challengeState.osUsername">
                            <strong>Nom d'utilisateur : </strong>{{ challengeState.osUsername }}
                        </p>
                        <p *ngIf="challengeState.osPassword">
                            <strong>Mot de passe de la machine : </strong>{{ challengeState.osPassword }}
                        </p>
                    </div>
                    <input placeholder="Flag..." type="text" class="form-control-lg form-control"
                        (keydown.enter)="onValidation(flagInput.value)" #flagInput>
                </div>
                <div class="d-block text-center card-footer">
                    <button class="btn btn-success btn-lg" (click)="onValidation(flagInput.value)">Valider</button>
                </div>
            </div>
            <div class="card mb-6" *ngFor="let comment of comments">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img style="width: 40px; height: auto;" src="{{ comment.user.photo }}"
                            class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a routerLink="/user/manage/{{ comment.user.id }}">{{comment.user.username}}</a>
                        </div>
                        <div class="text-muted small ml-3">
                            <form>
                                <form #form="ngForm">
                                    <bar-rating name="rating" [(rate)]="comment.rating" [max]="5" [readOnly]="true">
                                    </bar-rating>
                                </form>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{comment.comment}}
                </div>
            </div>
        </div>
    </div>
</div>