<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper d-flex justify-content-between">
            <div class="page-title-heading d-flex">
                <div class="d-flex">
                    <span class="page-title-icon">
                        <i class="pe-7s-speaker icon-gradient bg-happy-itmeo">
                        </i>
                    </span>
                    <span>
                        {{ proposal?.title }}
                        <div class="page-title-subheading">
                            Challenge proposé par {{ proposal?.user?.username }}.
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xl-6">
            <div class="card mb-3 widget-content">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Proposition(s)</div>
                        <div class="widget-subheading">Nombre de propositions à traiter</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="text-success widget-numbers">
                            <span>{{ proposals?.length }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-6">
            <div class="card mb-3 widget-content">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Difficulté</div>
                        <div class="widget-subheading">Difficulté du challenge</div>
                    </div>
                    <div class="widget-content-right">
                        <div [ngClass]="{'text-success': proposal?.level <= 2, 
                                         'text-warning': proposal?.level == 3,
                                         'text-danger': proposal?.level == 4,
                                         'text-dark': proposal?.level == 5,
                                         'widget-numbers': true}">
                            <span>{{ proposal?.level }}/5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Informations de l'utilisateur 
                    <img width="30" class="rounded-circle ml-2" src="{{ proposal?.user?.photo }}" alt="">
                </div>
                <div class="card-body">
                    <p>Nom : {{ proposal?.user?.username }}</p>
                    <p>Mail : <a href="mailto:{{ proposal?.user?.email }}">{{ proposal?.user?.email }}</a></p>
                    <p>Rôle : {{ proposal?.user?.role }}</p>
                    <p *ngIf="proposal?.user?.school">École : {{ proposal?.user?.school }}</p>
                    <p *ngIf="proposal?.user?.company">Entreprise : {{ proposal?.user?.company }}</p>
                    <p *ngIf="proposal?.user?.description">Description : {{ proposal?.user?.description }}</p>
                    <p *ngIf="proposal?.user?.points > 0">Points : {{ proposal?.user?.points }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-header">Proposition</div>
                <div class="card-body">
                    <div [innerHTML]="proposal?.description"></div>
                </div>
                <div class="d-block text-center card-footer">
                    <swal
                        #removeProposalSwal
                        title="Êtes-vous sûr de vouloir supprimer cette proposition ?"
                        text="Ça ne peut pas être annulé"
                        icon="error"
                        [showCancelButton]="true"
                        [focusCancel]="true"
                        (confirm)="onRemoveProposal()">
                    </swal>
                    <ng-container *ngIf="proposal?.status == 'NEW'">
                        <button [swal]="removeProposalSwal" class="mb-2 mr-2 btn btn-shadow btn-danger">Refuser la proposition</button>
                        <button (click)="onAcceptProposal()" class="mb-2 mr-2 btn btn-shadow btn-success">Accepter la proposition</button>
                    </ng-container>
                    <ng-container *ngIf="proposal?.status == 'ACCEPTED'">
                        <button (click)="onProcessProposal()" class="mb-2 mr-2 btn btn-shadow btn-success">Traiter la proposition</button>
                    </ng-container>
                    <ng-container *ngIf="proposal?.status == 'PROCESSED'">
                        <a href="mailto:{{ proposal?.user?.email }}" class="mb-2 mr-2 btn btn-shadow btn-primary">Contacter l'utilisateur</a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>