<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-user icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>
                    Liste des utilisateurs
                    <div class="page-title-subheading">Decouvrez d'autres hackeurs.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <button class="btn-wide mb-2 mr-2 btn-icon btn-icon-right btn-shadow btn-pill btn btn-outline-primary"
                    routerLink="/user/add">
                    <i class="fa fa-plus-circle"></i> Ajouter un admin
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Utilisateurs</h5>
                    <table class="mb-0 table table-borderless">
                        <thead>
                            <tr>
                                <th>Rôle</th>
                                <th>Pseudo</th>
                                <th>Email</th>
                                <th>École</th>
                                <th>Entreprise</th>
                                <th>Points</th>
                                <th>Gestion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td [ngSwitch]="user.role">
                                    <span *ngSwitchCase="'SUPERADMIN'">
                                        Super Admin
                                    </span>
                                    <span *ngSwitchCase="'ADMIN'">
                                        Admin
                                    </span>
                                    <span *ngSwitchCase="'USER'">
                                        Utilisateur
                                    </span>
                                </td>
                                <td>
                                    <a routerLink="/user/{{ user.id }}">
                                        {{ user.username }}
                                    </a>
                                </td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.school }}</td>
                                <td>{{ user.company }}</td>
                                <td>{{ user.points }}</td>
                                <td>
                                    <a routerLink="/user/manage/{{ user.id }}"
                                        class="mb-2 mr-2 btn-transition btn btn-warning">
                                        <i class="fas fa-tools text-light"></i>
                                    </a>
                                    <a (click)="onDelete(user.id)"
                                        class="mb-2 mr-2 btn-transition btn btn-danger">
                                        <i class="fas fa-trash text-light"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>