<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100 bg-plum-plate bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-8">
                    <div class="app-logo-inverse mx-auto mb-3"></div>
                    <div class="modal-dialog w-100 mx-auto">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h5 class="modal-title">
                                    <div class="logo-src"></div>
                                    <div class="divider row"></div>
                                </h5>
                                <form [formGroup]="form">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="email">Identifiant</label>
                                                <input (keydown.enter)="onSubmit()" autocomplete="email"
                                                    formControlName="email" placeholder="Identifiant" type="text"
                                                    id="email" class="form-control" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}">
                                                    <span *ngIf="email.invalid && (email.dirty || email.touched)">L'identifiant renseigné est incorrect</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="password">Mot de passe</label>
                                                <input (keydown.enter)="onSubmit()" autocomplete="current-password"
                                                    formControlName="password" placeholder="Mot de passe" id="password"
                                                    type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="divider"></div>
                                <h6 class="mb-0">Pas de compte ? <a routerLink="/register"
                                        class="text-primary">Inscris-toi</a></h6>
                            </div>
                            <div class="modal-footer clearfix">
                                <div class="float-left">
                                    <a href="#" class="btn-lg btn btn-link">Mot de passe oublié ?</a></div>
                                <div class="float-right">
                                    <button (click)="onSubmit()" class="btn btn-primary btn-lg">Connexion</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-white opacity-8 mt-3">Copyright © Starter Hack 2020</div>
                </div>
            </div>
        </div>
    </div>
</div>