<div *ngIf="!isEditing" class="form-group">
    <label>Type de documentation</label>
    <div >
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" (change)="resetForm()" id="link" [(ngModel)]="docType"
                value="link">
            <label class="form-check-label" for="link">Lien</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="file" [(ngModel)]="docType"
                value="file">
            <label class="form-check-label" for="file">Fichier</label>
        </div>
    </div>
</div>
<form [formGroup]="docForm">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nom">
        </div>
        <div class="col-md-6" *ngIf="isLink">
            <label for="file">Lien vers la documentation</label>
            <input type="text" class="form-control" id="file" formControlName="url" placeholder="Lien">
        </div>
        <div class="col-md-6" *ngIf="isFile && !isEditing">
            <label for="file">Document (.pdf uniquement)</label>
            <div (click)="fileInput.click()" class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-file"></i>
                    </span>
                </div>
                <input type="text" class="form-control" [value]="filename"
                    disabled>
            </div>
            <input #fileInput accept="application/pdf" type="file" (change)="handleFileInput($event.target.files)" class="d-none"
                id="file" formControlName="url" placeholder="Lien">
        </div>
        <div *ngIf="isFile && isEditing" class="col-md-6">
            <label for="file">Document (.pdf uniquement)</label>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-file"></i>
                </span>
            </div>
            <input type="text" class="form-control" [value]="filename"
                disabled>
        </div>
        </div>
    </div>
</form>
<div class="form-group text-center">
    <button class="btn btn-danger mr-2" (click)="back.emit()">
        Retour
    </button>

    <button *ngIf="!isUploading" (click)="onSubmit()" type="submit" class="btn btn-primary" name="signup">
        {{ isEditing ?  'Modifier' : 'Ajouter' }}
    </button>
    <div *ngIf="isUploading" class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>
<pdf-viewer *ngIf="fileToUpload" [src]="fileURL" [render-text]="true" style="display: block;"
    [stick-to-page]="true"></pdf-viewer>