<div *ngIf="displayBody()" class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header></app-header>
  <div class="app-main">
    <app-sidebar></app-sidebar>
    <div class="app-main__outer">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-login *ngIf="router.url.startsWith('/login')"></app-login>
<app-register *ngIf="router.url.startsWith('/register')"></app-register>