<div class="app-main__inner">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Proposer une idée de challenge</h5>
            <form [formGroup]="proposalForm">
                <div class="form-group">
                    <label for="name">Titre</label>
                    <div>
                        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titre">
                    </div>
                </div>

                <div class="form-group">
                    <label for="category">Catégorie</label>
                    <select formControlName="category" class="mb-2 form-control">
                        <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="level">Niveau</label>
                    <select formControlName="level" class="mb-2 form-control">
                        <option *ngFor="let i of [0, 1, 2, 3, 4, 5]" [value]="i">{{ i }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <div>
                        <ckeditor [editor]="editor" formControlName="description"></ckeditor>
                    </div>
                </div>

                <button (click)="onSubmit()" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
</div>
