<div class="app-main__inner" *ngIf="challengeForm">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">{{isEditing ? 'Modifier' : 'Ajouter'}} un challenge
                <div class="mb-2 mr-2 badge badge-pill badge-warning" *ngIf="proposal">Contribution de
                    {{ proposal?.user.username }}</div>
            </h5>
            <div class="form-group" *ngIf="!isEditing">
                <label>Type de challenge</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="static" [(ngModel)]="challengeType"
                            value="static">
                        <label class="form-check-label" for="static">Statique (hebergé une fois)</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="dynamic" [(ngModel)]="challengeType"
                            value="dynamic">
                        <label class="form-check-label" for="dynamic">
                            Dynamique (Déployé à chaque lancement)
                        </label>
                    </div>
                </div>
            </div>
            <form [formGroup]="challengeForm " *ngIf="isStatic || isDynamic">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <div>
                        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nom">
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <div>
                        <ckeditor [editor]="editor" formControlName="description"></ckeditor>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">

                            <label for="points">Points</label>
                            <div>
                                <input type="number" min="0" step="10" class="form-control" id="points"
                                    formControlName="points" placeholder="Points">
                            </div>
                        </div>
                        <div class="col-md-2">

                            <label for="level">Niveau</label>
                            <div>
                                <select formControlName="level" class="form-control">
                                    <option *ngFor="let i of [0, 1, 2, 3, 4, 5]" [value]="i">{{ i }}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">

                            <label for="category">Catégorie</label>
                            <div>
                                <select formControlName="category" class="form-control" formControlName="category">
                                    <option [selected]="!isEditing">Choisissez une catégorie</option>
                                    <option [selected]="challengeCategory && category.name == challengeCategory"
                                        *ngFor="let category of challengeCategories">
                                        {{ category.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="flag">Flag</label>
                    <div>
                        <input type="text" class="form-control" id="flag" formControlName="flag" placeholder="Flag">
                    </div>
                </div>

                <div class="form-group" *ngIf="isStatic">
                    <label for="flag">URL</label>
                    <div>
                        <input type="text" class="form-control" id="host" formControlName="host" placeholder="URL">
                    </div>
                </div>


                <div class="form-group">
                    <label for="timer">Temps imparti (en secondes)</label>
                    <div>
                        <input type="number" min="0" class="form-control" id="timer" formControlName="timer"
                            placeholder="Durée">
                    </div>
                </div>

                <div class="form-group" *ngIf="isDynamic">
                    <label for="ami">AMI</label>
                    <div>
                        <input type="string" class="form-control" id="ami" formControlName="amiId" placeholder="AMI">
                    </div>
                </div>


                <div class="form-group">
                    <label for="docs">Documentation</label>
                    <div class="d-flex">
                        <select class="form-control col-md-4" id="docs" formControlName="docs">
                            <option *ngFor="let doc of docs" [value]="doc.name">{{ doc.name }}</option>
                        </select>
                        <button class="btn btn-link" (click)="addDoc()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <a [routerLink]="" (click)="openModal(addDocModal)">Ajouter un document</a>
                    <ul class="list-group docs-list mt-3">
                        <li *ngFor="let doc of selectedDocs; let i = index" class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <pdf-viewer *ngIf="getDocType(doc)=='Document'" (click)="openPdf(pdfModal, doc)"
                                            zoom="0.08" class="pdf-preview" [src]="doc.url" [render-text]="true"
                                            style="display: block;" [stick-to-page]="true"></pdf-viewer>
                                        <i *ngIf="getDocType(doc)=='Page web'" (click)="openPdf(pdfModal, doc)"
                                        class="fa fa-file-alt fa-6x text-primary">
                                        </i>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">{{ doc.name }}</div>
                                        <div class="widget-subheading">{{ getDocType(doc) }}</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <button class="btn btn-link" (click)="removeDoc(i)">
                                            <div class="badge badge-danger">Supprimer</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>

            <form *ngIf="isDynamic" [formGroup]="scriptForm" (ngSubmit)="submitScript()" class="form-group">
                <div class="position-relative form-group" *ngIf="!showAddScript">
                    <label for="existing-script">
                        Script existant
                    </label>
                    <select name="select" id="existing-script" class="form-control mb-1" formControlName="script">
                        <option>Sélectionnez un script</option>
                        <option *ngFor="let script of (scriptsList | async)"
                            [value]="'https://' + s3Bucket + '.s3.' + s3Region + '.amazonaws.com/' + script.key">
                            {{ script.key }}
                        </option>
                    </select>
                    <a [routerLink]="" (click)="onShowAddScript()">Ajouter un nouveau script</a>
                </div>
                <div class="form-group" *ngIf="showAddScript">
                    <label for="script">
                        Nouveau script
                    </label>
                    <div class="form-group">
                        <input type="file" (change)="uploadFile($event)">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                    <a [routerLink]="" (click)="onShowAddScript()">Utiliser un script existant</a>
                </div>
            </form>

            <div class="form-group">
                <button (click)="submit()" type="submit" class="btn btn-primary" name="signup"
                    value="Sign up">Enregistrer</button>
            </div>
        </div>
    </div>
</div>

<ng-template #addDocModal>
    <div class="card-body">
        <doc-add-form (submit)="onDocAdd($event)" (back)="bsModalRef.hide()"></doc-add-form>
    </div>
</ng-template>

<ng-template #pdfModal>
    <pdf-viewer *ngIf="getDocType(currentDoc) == 'Document'" class="pdf-view" [src]="currentDoc.url" [render-text]="true" style="display: block;"
        [stick-to-page]="true"></pdf-viewer>
    <iframe [ngStyle]="{'height': iframeHeight}" *ngIf="getDocType(currentDoc)=='Page web'" [src]="currentDoc.url | sanitize"></iframe>
</ng-template>