<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper d-flex justify-content-between">
            <div class="page-title-heading d-flex">
                <div class="d-flex">
                    <div class="photo-container">
                        <img *ngIf="user?.photo" class="photo" [src]="user?.photo" alt="">
                    </div>
                    <span>
            {{ user?.username }}
            <div class="page-title-subheading">
              300 POINTS
            </div>
          </span>

                </div>
            </div>
            <div class="page-title-actions">

                <button *ngIf="isCurrentUser" class="btn-wide mb-2 mr-2 btn-icon btn-icon-right btn-shadow btn-pill btn btn-outline-primary" routerLink="/user/manage/{{user.id}}">
          <i class="fas fa-cog"></i>&nbsp;
          <span>Modifier mon profil</span>
        </button>
                <button *ngIf="isAdmin && !isCurrentUser" class="btn-wide mb-2 mr-2 btn-icon btn-icon-right btn-shadow btn-pill btn btn-outline-primary" routerLink="/user/manage/{{user.id}}">
        <i class="fas fa-cog"></i>&nbsp;
          <span >Modifier son profil</span>
        </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3 widget-chart">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-warning"></div>
                    <i class="fa fa-medal text-warning"></i>
                </div>
                <div class="widget-numbers"><span class="count-up-wrapper-2">300<sup>ème</sup></span></div>
                <div class="widget-subheading">/360 000</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 widget-chart">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-success"></div>
                    <i class="fa fa-check text-success"></i>
                </div>
                <div class="widget-numbers"><span class="count-up-wrapper-2">31</span></div>
                <div class="widget-subheading">CHALLENGES RÉUSSIS</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 widget-chart">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-primary"></div>
                    <i class="fa fa-trophy text-primary"></i>
                </div>
                <div class="widget-numbers"><span class="count-up-wrapper-2">4</span></div>
                <div class="widget-subheading">CONTRIBUTIONS ACCEPTÉES</div>
            </div>
        </div>
    </div>
</div>