<div class="app-header header-shadow">
    <div class="app-header__logo">
        <a routerLink="/" class="logo-src"></a>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
        </button>
        </span>
    </div>
    <div class="app-header__content">
        <div class="app-header-left">
            <div class="search-wrapper">
                <div class="input-holder">
                    <input type="text" class="search-input" #search placeholder="Type to search">
                    <button class="search-icon" (click)="onSearch(search.value)"><span></span></button>
                </div>
                <button class="close"></button>
            </div>
        </div>
        <div class="app-header-right">
            <div class="header-btn-lg pr-0">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <ng-container *ngIf="isAdmin">
                            <button class="mr-2 btn-icon btn-pill btn btn-danger" (click)="toggleUnderAttack()" *ngIf="isUnderAttack">
                                <i class="fa fa-shield-alt btn-icon-wrapper"></i> Under attack: ON
                            </button>
                            <button class="mr-2 btn-icon btn-pill btn btn-primary" (click)="toggleUnderAttack()" *ngIf="!isUnderAttack">
                                <i class="fa fa-check-square btn-icon-wrapper"></i> Under attack: OFF
                            </button>
                        </ng-container>
                        <div class="widget-content-left">
                            <div class="btn-group">
                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                    <img *ngIf="user?.photo" width="42" height="42" class="rounded-circle" [src]="user.photo" alt="">
                                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                </a>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                    <button (click)="settings()" type="button" tabindex="0" class="dropdown-item">Mon
                                        compte</button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button (click)="logout()" type="button" tabindex="0" class="dropdown-item">Déconnexion</button>
                                </div>
                            </div>
                        </div>
                        <a id="settings-btn" routerLink="/user" *ngIf="isAuth">
                            <div class="widget-content-left ml-2 header-user-info">
                                <div [ngSwitch]="user.role">
                                    <div *ngSwitchCase="'SUPERADMIN'">
                                        <i class="fas fa-crown mr-2 text-warning"></i> {{ user.username }}
                                    </div>
                                </div>
                                <div [ngSwitch]="user.role">
                                    <div *ngSwitchCase="'ADMIN'">
                                        <i class="fa fa-user-secret mr-2"></i> {{ user.username }}
                                    </div>
                                </div>
                                <div [ngSwitch]="user.role">
                                    <div *ngSwitchCase="'USER'">
                                        <i class="fa fa-user mr-2"></i> {{ user.username }}
                                    </div>
                                </div>


                                <div class="widget-subheading">
                                    <i class="fa fa-bomb mr-2"></i> {{ user.points }} point(s)
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>